@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Neutral Colors */
    --color-custom-neutral-900: hsl(227, 75%, 14%);
    --color-custom-neutral-800: hsl(226, 25%, 17%);
    --color-custom-neutral-700: hsl(225, 23%, 24%);
    --color-custom-neutral-600: hsl(226, 11%, 37%);
    --color-custom-neutral-300: hsl(0, 0%, 78%);
    --color-custom-neutral-200: hsl(217, 61%, 90%);
    --color-custom-neutral-100: hsl(0, 0%, 93%);
    --color-custom-neutral-0: hsl(200, 60%, 99%);

    /* Red Colors */
    --color-custom-red-700: hsl(3, 77%, 44%);
    --color-custom-red-500: hsl(3, 71%, 56%);
    --color-custom-red-400: hsl(3, 86%, 64%);

    /* Semantic Colors */
    --color-primary-lightmode: var(--color-custom-neutral-900);
    --color-primary-darkmode: var(--color-custom-neutral-300);

    /* Gradients */
    --gradient-light-start: #EBF2FC;
    --gradient-light-end: #EEF8F9;
    --gradient-dark-start: #040918;
    --gradient-dark-end: #091540;

    /* Border Radius */
    --border-radius-full: 9999px;
    --border-radius-lg: 12px;
    --border-radius-md: 8px;
    --border-radius-sm: 4px;

    --color-my-color: red;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* Define gradient classes */
.bg-custom-gradient {
    background: linear-gradient(180deg, var(--gradient-light-start) 0%, var(--gradient-light-end) 100%);
}

.dark .bg-custom-gradient {
    background: linear-gradient(180deg, var(--gradient-dark-start) 0%, var(--gradient-dark-end) 100%);
}
